@import url("https://fonts.googleapis.com/css?family=Raleway");

body
{
    margin: 0;
    background: #333;
    color: #fff;
    font-family: 'Raleway';
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
  justify-content: center;
}

.exitadmin
{
	position: fixed;
	top: 9%;
	left: 2%;
}
