@import url("https://fonts.googleapis.com/css?family=Raleway");

body
{
    background: #1C1C1E;
/*    background: -webkit-linear-gradient(to right, #434343, #000000);
    background: linear-gradient(to right, #434343, #000000);*/
	color: #fff;
	font-family: 'Raleway';
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
  justify-content: center;
}

img
{
	max-width: 100%;
}

/*.navbar
{
	padding: .5% 0 .5% 3%;
	font-size: 1rem;
}*/

#titre
{
	/*background: #21282E;*/
	font-size: 3rem;
	padding: 3% 0;
	color: #000;
}


#formulaire
{
    padding: 6% 3%;
    background: #fff;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: box-shadow ease-in-out .3s;
}

#formulaire:hover
{
    box-shadow: 2px 2px 2px 2px rgba(239,239,239,.2);
}

#formulaire h1
{
    text-align: center;
}

.success
{
	color: green;
}

.error
{
	color: red;
}

/*Borders*/

input[type="date"]:focus:not([readonly]), input[type="datetime-local"]:focus:not([readonly]), input[type="email"]:focus:not([readonly]), input[type="number"]:focus:not([readonly]), input[type="password"]:focus:not([readonly]), input[type="search-md"]:focus:not([readonly]), input[type="search"]:focus:not([readonly]), input[type="tel"]:focus:not([readonly]), input[type="text"]:focus:not([readonly]), input[type="time"]:focus:not([readonly]), input[type="url"]:focus:not([readonly]), textarea.md-textarea:focus:not([readonly])
{
	border-bottom: 1px solid #FF8A65;
	box-shadow: 0 1px 0 0 #FF8A65;
}

/******************/




/**NAVBAR/HEADER**/

.form-inline a
{
	color: #fff;
}

.form-inline i
{
	margin-right: 5px;
}

nav.navbar .dropdown-menu a:hover
{
	color: #000!important;
}

.top-nav-collapse {
    background-color: #21282E !important; 
}
.navbar:not(.top-nav-collapse) {
    background: #21282E !important;
}
@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background: #21282E !important;
    } 
}
h1 {
    letter-spacing: 8px;
}
h5 {
    letter-spacing: 3px;
}
.hr-light {
    border-top: 3px solid #fff;
    width: 80px;
}
@media (max-width: 740px) {
    .full-height,
    .full-height body,
    .full-height header,
    .full-height header .view {
        height: 700px; 
    } 
}



/**RESPONSIVE DESIGN**/

@media screen and (min-height: 721px) and (max-width: 1024px){

	

}

@media screen and (max-width: 720px){

	#formulaire
	{
		padding: 3% 5%;
		width: 80%;
		margin: auto;
		position: relative;
		top: 50px;
	}

	#formulaire h1
	{
		font-size: 1.5rem;
	}

	#formulaire input, #formulaire textarea
	{
		font-size: 1rem;
	}

	#formulaire button
	{
		font-size: 0.7rem;
	}

}