@import url("https://fonts.googleapis.com/css?family=Raleway");

body
{
	margin: 0;
	padding: 0;
	font-family: Ubuntu, sans-serif;
	background: #fff !important;
}

img
{
	max-width: 100%;
}

i
{
	padding-right: 5px;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
  justify-content: center;
}

.content
{
	position: relative;
	top: 71px;
	color: #000;
}

.heading::first-letter
{
	text-transform: uppercase;
}

.heading hr
{
	border-top: 1px solid black;
}

.heading #sujet
{
	font-size: 1.5rem;
}

.heading #mail::before
{
	content: "<";
}

.heading #mail::after
{
	content: ">";
}

.heading #name,.heading #mail
{
	font-size: 1.3rem;
}

.body::first-letter
{
	text-transform: uppercase;
}

.body
{
	margin-top: 1%;
}

.body #message
{
	font-size: 1.2rem;
}